<header class="page-header">
  <h1>Photos Index</h1>
  <a href="{{newPhotoPath}}">+ New Photo</a>
</header>

{{#if (isEmpty photos) }}
  <p class="text-danger">No photos yet</p>
{{else }}
  <div class="row">
    {{#each photos as |photo|}}
      <div class="col-xs-4">
        <a
          href="{{photosPath}}/{{ photo.name }}?_method=delete"
          class="text-danger">
          &times;
        </a>
        <p>{{ photo.name }}</p>
        <img src="{{ photo.url }}" alt="Photo" class="img-responsive">
      </div>
    {{/each }}
  </div>
{{/if }}
