

<header class="page-header">
  <h1>Photos Index</h1>
  <a href="/photos/new">+ New Photo</a>
</header>


{{#if (isEmpty photos) }}
  <p class="text-danger">No Photos :(</p>
{{else }}
  <div class="row">
    {{#each photos as |photo key| }}
      <div class="col-xs-4">
        <a
          href="/photos/{{ photo.key }}?_method=delete"
          class="text-danger">
          &times;
        </a>
        <p>Name: {{ photo.photoName }}</p>
        <p>uploaded by <a href="/users/{{photo.userId._id}}">{{ photo.userId.username }}</a></p>
        <a href="/photos/{{photo.key}}"><img src="{{ photo.url }}" alt="Photo" class="img-responsive"></a>
      </div>
    {{/each }}
  </div>
{{/if }}









