<header class="page-header">
  <h1>Photo - {{photo.shortName}}</h1>
</header>




  <div class="row">

      <div class="col-xs-6 col-sm-5 col-sm-offset-1" style="text-align:right; border: 2px solid black; border-radius: 2em; margin-left: 2em; padding:1em;">

        {{#if photo.owns}}
          <a
            href="/photos/{{ photo.fullName }}?_method=delete"
            class="text-danger">
            &times;
          </a>
        {{/if}}

        <div style="text-align:left; word-wrap: break-word;">
          <p>{{ photo.shortName }}</p>
          <a href="{{photo.url}}"><img src="{{ photo.url }}" alt="Photo" class="img-responsive"></a>
          <p>{{photo.description}}<p>
          <p>Created by {{photo.user}}</p>
          <p>On {{twoByTwo photo.created}}</p>
          <p>At {{time photo.created}}</p>
        </div>
      </div>

  </div>
